.pricing {
  display: flex;
  justify-content: space-between;
  max-width: 30%;
  margin: auto;
}
.payment-cycle {
  flex: 1;
  background-color: #1f262c;
  margin: 15px 8px;
  padding: 30px;
  border-radius: 6px;
  color: #fff;
}

@media (max-width: 768px) {
  .pricing {
    display: block;
  }
}

.payment-cycle h2 {
  margin-top: 0;

  padding-bottom: 10px;
  border-bottom: 2px solid #e30046;
  text-transform: uppercase;
  letter-spacing: 0.07em;
}
.payment-cycle p {
  margin-top: 0;
  margin-bottom: 20px;


}
.payment-cycle p span {
  font-size: 33px;
  text-align: right;
  margin: auto;


}


.payment-cycle a {
  text-decoration: none;
  color: #fff;
  padding: 10px 10px;
  text-align: center;
  background: #e30046;
  border: 2px solid #e30046;
  border-radius: 5px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  font-size: 15px;
  font-weight: bold;
  margin: auto;

}
.payment-cycle a:hover {
  background-color: #1f262c;
  margin: auto;

}
